<div class="user-list">
  <h2 class="title">User List</h2>


<div class="table-top">
  <div class="search">
  <input type="text" placeholder="search username or name" (input)="onSearchInput($event)">
</div>

<div class="table-top__filters">
     <select>
        <option disabled selected>All countries</option>
        <option *ngFor="let c of countries" [value]="c.code">
          {{ c.name }}
        </option>
      </select>
    <div class="table-top__age">
      <input type="number" placeholder="start age">
      <span>-</span>
      <input type="number" placeholder="end age">
    </div>
    <button>Filter</button>
</div>

  

</div>

<app-user-table 
  [users]="users" 
  [loading]="loading" 
  [ordering]="ordering"
  (sortChange)="onSortChange($event)">
</app-user-table>



<div *ngIf="!loading" class="pagination-container">
    <div class="pagination-info">
      Showing {{ showingFrom }}–{{ showingTo }} of {{ total }}
    </div>

  <div class="pagination-controls">
  <button (click)="changePage(page - 1)" [disabled]="page === 1">Prev</button>

<ng-container *ngFor="let p of generatePagination()">
  <button
    *ngIf="p !== '...'; else dots"
    (click)="changePage(+p)"
    [class.active]="page === p">
    {{ p }}
  </button>
  <ng-template #dots>
    <span class="dots">...</span>
  </ng-template>
</ng-container>


  <button (click)="changePage(page + 1)" [disabled]="page === pagesCount">Next</button>
</div>

    <div class="page-size">
      <label>Per page: </label>
      <select (change)="changePageSize($event)">
        <option [value]="10" [selected]="pageSize === 10">10</option>
        <option [value]="20" [selected]="pageSize === 20">20</option>
        <option [value]="50" [selected]="pageSize === 50">50</option>
      </select>
    </div>
  </div>



</div>
